.ant-fullcalendar-selected-day .ant-fullcalendar-value,
.ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value {
  background-color: #292F69;
  border: none;
  outline: none;
}

.ant-fullcalendar-today .ant-fullcalendar-value,
.ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-value {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.ant-radio-button-wrapper:hover,
.ant-select-selection:hover,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #292F69;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  border-color: #292F69;
}

.ant-form-item-control .ant-select-focused .ant-select-selection,
.ant-form-item-control .ant-select-selection:focus,
.ant-form-item-control .ant-select-selection:active {
  border-color: #292F69;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.ant-fullcalendar-value:active {
  background-color: #F0F7FA;
}

.ant-form-item-control .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled),
.ant-form-item-control .ant-select-dropdown-menu-item-selected,
.ant-form-item-control .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #f4f4f4;
}

.ant-form-item-control .ant-select-focused .ant-select-selection--single.ant-select-selection,
.ant-form-item-control .ant-select-selection--single.ant-select-selection:focus,
.ant-form-item-control .ant-select-selection--single.ant-select-selection:active {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.ant-form-item-control .ant-select-focused .ant-select-selection--single .ant-select-selection__rendered {
  border-color: rgba(60, 60, 67, 0.6);
}

.ant-form-item-control .ant-select-selection--single:hover .ant-select-selection__rendered {
  border-color: rgba(60, 60, 67, 0.6);
}

.ant-form-item-control .ant-select {
  width: 100%;
}

.ant-form-item-control .ant-select-selection--single {
  height: unset;
}

.ant-form-item-control .ant-select-selection--single .ant-select-selection__rendered {
  line-height: unset;
  height: 32px;
  margin: 0;
  padding: 0 44px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(60, 60, 67, 0.6);
  border-radius: 4px;
}

.ant-form-item-control .ant-select-selection--single .ant-select-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}

.ant-form-item-control .ant-select-selection--single.ant-select-selection {
  border: none;
}

.ant-form-item-control .ant-select-selection--single .ant-select-selection-selected-value {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: rgba(60, 60, 67, 0.6);
}

.ant-form-item-control .ant-select-selection--multiple .ant-select-arrow {
  right: 12px;
  padding-left: 12px;
  top: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ant-form-item-control .ant-select-selection--multiple .ant-select-arrow::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0.5px;
  background-color: rgba(60, 60, 67, 0.6);
  top: 0;
  bottom: 0;
}

.ant-form-item-control .ant-select-selection--multiple .icon-angle-down {
  font-size: 20px;
  color: #000000;
}

.ant-form-item-control .ant-select-selection--multiple .ant-select-selection__clear {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  opacity: 1;
  width: auto;
  height: auto;
  right: 56px;
}

.ant-form-item-control .ant-select-selection--multiple .icon-close {
  font-size: 20px;
  color: rgba(60, 60, 67, 0.6);
}

.ant-form-item-control .ant-select-selection--multiple .ant-select-selection__choice {
  background-color: #F9F9F9;
  border-color: rgba(60, 60, 67, 0.3) !important;
  padding-left: 8px;
}

.ant-form-item-control .ant-select-selection:hover {
  border-color: #000000 !important;
}

.ant-form-item-control .ant-select-focused .ant-select-selection,
.ant-form-item-control .ant-select-selection:focus,
.ant-form-item-control .ant-select-selection:active {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-form-item-label {
  white-space: unset;
  text-align: left;
  line-height: unset;
  margin-bottom: 8px;
}

.ant-btn::after {
  display: none !important;
}

.ant-btn._40 {
  height: 40;
}

.ant-btn._36 {
  height: 36px;
}

.ant-btn._44 {
  height: 44px;
  border-radius: 8px;
}

.ant-btn small {
  font-size: 14px;
}

.ant-btn {
  height: 32px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ant-col .ant-btn {
  width: 100%;
}

.ant-btn-primary i {
  font-size: 20px;
  color: #ffffff;
  margin-right: 10px;
}

.ant-btn-primary {
  border: none !important;
  color: #ffffff;
}

.ant-btn-primary.blue {
  background-color: #292F69;
}

.ant-btn-primary.grey {
  background-color: rgba(60, 60, 67, 0.6);
}

body {
  background-color: #ffffff;
  font-family: 'RalewayPrezi', sans-serif;
}

.page {
  max-width: 375px;
  margin: 0 auto;
  border: 1px solid #ededed;
  border-radius: 8px;
}

.page-header {
  background-color: #F0F7FA;
  padding: 16px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 16px;
}

.page-header > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(60, 60, 67, 0.6);
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.page-header > h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
}

.page-header > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header > ul > li {
  margin-bottom: 8px;
}

.page-header > ul > li i {
  display: inline-block;
  margin-right: 8px;
  color: #292F69;
}

.page-header > ul > li span,
.page-header > ul > li small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(60, 60, 67, 0.6);
}

.page-header > ul > li small {
  font-weight: 400;
  display: block;
}

.page-header > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #292F69;
}

.page-header._2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header._2 h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
  margin-bottom: 16px;
}

.page-header._2 .ant-select-selection {
  background-color: transparent;
}

.page-body {
  padding: 16px;
}

.page-body-calendar {
  margin-bottom: 8px;
}

.page-body-calendar .ant-fullcalendar-header {
  padding: 0 0 16px 0;
}

.page-body-calendar .ant-fullcalendar-calendar-body {
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #ededed;
}

.page-body-calendar .ant-fullcalendar {
  border-color: #ededed;
}

.page-body-time-header {
  margin-bottom: 16px;
}

.page-body-time-header h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}

.page-body-time-header span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
  text-align: center;
  display: block;
}

.page-body-time-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-body-time-body ul li {
  margin-bottom: 12px;
}

.page-body-time-body ul li > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000000;
  display: block;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #292F69;
  cursor: pointer;
}

.page-body-form h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 16px;
}

.gmt-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gmt-time > i {
  color: #292F69;
  margin-right: 8px;
}

.gmt-time .ant-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gmt-time .ant-form-item .ant-form-item-label {
  margin: 0;
}

.gmt-time .ant-form-item label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(60, 60, 67, 0.6);
  margin: 0;
}

.gmt-time .ant-select-selection__rendered {
  border: none !important;
  padding: 0 32px 0 0 !important;
}
/*# sourceMappingURL=main.css.map */